@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #a2d2ff;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    
}

.charity {
    background-color: white;
    position: absolute;
    left: 5em;
    top: 0;
    bottom: 0;
    width: 20rem;
    
}

.charity a {
    background-color: #a2d2ff;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
<<<<<<< Updated upstream
    margin: 3em auto;
=======
    margin: 5em auto;
>>>>>>> Stashed changes
    padding:1em;
    border-radius: 1em;
    transition: .5s;
    line-height: 1.2;
}

.charity a:hover {
    background-color: #3577a0;
}

.charity a span {
    display: block;
    font-size: 0.8rem;
}

.hero-img {
    position: absolute;
    z-index: 4;
    bottom: 0;
<<<<<<< Updated upstream
    height: 70%;
=======
    height: 650px;
>>>>>>> Stashed changes
    left: 3em; 
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5em;
    padding-top: 5em;
}

.white-button {
    background-color: white;
    color: #a2d2ff;
    padding: 1em 2em;
    text-align: center;
    border-radius: 1em;
}

.links a {
    display: block;
    margin: 1em 0;
    text-decoration: none;
    font-weight: 700;
<<<<<<< Updated upstream
    font-size: 1.1em;
=======
    font-size: 1.2em;
>>>>>>> Stashed changes
    position: relative;
    transition: .5s;
}

.links a:hover {
    background-color: #3577a0;
    color: white;
}

.links a::before {
    content: url(/aqua/Drop-white.svg);
    position: absolute;
    inset: 0;
    transform: translateX(-100%) translateY(10%);
    width: 5em;
  
    
}

.hero-name {
<<<<<<< Updated upstream
    font-size: clamp(6rem, 8vw, 10rem);
=======
    font-size: 10rem;
>>>>>>> Stashed changes
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
    color: white;
}

.hero-name::before {
    content: url(/aqua/Drop.svg);
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: translateY(-30%) translateX(-50%);
    pointer-events: none;
    
}

.footer {
    background-color: #3577a0;
    color: white;
    padding: 1em 2em;
    border-radius: 1em;
    position: absolute;
<<<<<<< Updated upstream
    bottom: 3em;
=======
    bottom: 5em;
>>>>>>> Stashed changes
    text-decoration: none;
    color: white;
}

.footnote {
    position: absolute;
    bottom: .5em;
    font-size: 0.8em;
    right: 0;
    left: 0;
    text-align: center;
    color: #3577a0; 
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
